<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1" verbose="1" annotations="JDK" parallel="tests">
<test name="TestFB">
  <classes>
  <class name="com.TestRunner.FacebookTest"/>
  </classes>
  </test>
  <test name="TestAmazon">
  <classes>
  <class name="com.TestRunner.AmazonTest"/>
  </classes>
  </test>
 </suite>
